* {
    font-family: arial;
    font-weight: bold;
}
body {
    background: black;
}
.container {
    margin: auto;
    width: 60vw;
    background: grey;
    text-align: center;
    padding: 1em;
    border-radius: 1em;
}
button {
    border: solid;
    border-radius: 1em;
    padding: 1em;
    font-size: 1em;
    margin-bottom: 1em;
}
button.male:hover {
    background: deepskyblue;
    border-color: lightskyblue;
}
button.female:hover {
    background: hotpink;
    border-color: lightpink;
}
button.mixed:hover {
    background: goldenrod;
    border-color: palegoldenrod;
}
.male {
    background: lightskyblue;
    border-color: deepskyblue;
}
.female {
    background: lightpink;
    border-color: hotpink;
}
.mixed {
    background: palegoldenrod;
    border-color: goldenrod;
}
ul {
  list-style-type: none;
  padding: 1em;
  background: dimgray;
  border-radius: 1em;
  width: 30vw;
  margin: auto;
}
li {
  margin: 0.3rem 0;
}
